	
	p{
    font-family: 'Courier New', Courier, sans-serif;		font-size: 14px;
    font-size: 2.2em;
    line-height: 1.5em;
	  }

    
h1 {
	font-size: 4.5em;
	margin-bottom: 20px;
}

h2{
  
	font-size: 3.5em;
	margin-bottom: 20px;
}


a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

td{
  font-size: 2em;
}
details{
  font-size: 2em;
}
ul{
  font-size: 2em;
}



.navbar-custom ul {
	list-style: none;
	display:flex;
	justify-content: space-between;
}

.navbar-custom li {
	margin: 0;
	padding: 0;
  
}

.navbar-custom a {
	/* display:flex; */
	padding: 10px;
	color: #a6f3f8;
	text-decoration:none;
	font-family: 'Minecraft', sans-serif;
}

.navbar-custom a:hover {
	background-color: rgb(247, 196, 244);
  color: #006aff;
}

.navbar-custom a.active {
	background-color: rgb(247, 196, 244);
  
}

.navbar-custom{
	background-color: rgb(166, 130, 250);
}

main {
	margin: 50px auto;
	max-width: 800px;
	padding: 0 20px;
}

section {
	margin-bottom: 50px;
}


.lastpic {
	width:100%;
  height: auto;
  border-style:double;
  border-radius: 20%;
  }

  fieldset {
	border-radius: 5px;
	border-style: dashed;
	min-width: 450px;
	background-image: url('pics/survey.png');
	background-size: 100px;
	margin-bottom: 10px;
  }

/* survey csillagok */
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label:before {
    content: '\2606';
    margin-right: 5px;
    font-size: 35px;
  }
  
  input[type="radio"]:checked + label:before {
    content: '\2605';
  }

/*kep styleok xd*/
.page1{
width: 100%; 
height: auto;
margin-bottom: 5px; 
margin-right: 1px;

}


.purpul{
  color: #9f6eb9;
  font-family: monospace;
}

.purpul2{
  color: #9f6eb9;
  font-family: monospace;
}

.lawbtn{
  background-color: #7ad0f8;
}


.firstpic{
  object-fit: contain;
  width: 100%;
  height: auto;
}



footer{
  font-size: .6em;
  font-family: 'Minecraft', sans-serif;
}

.inflated{
  font-size: 30px;
}

aside {
  width: 30%;
  float: right;
  font-style: italic;
  background-color: rgb(253, 202, 242);
  
}

.asidep{
  margin: 15px;
}

td{
  text-align: center; vertical-align: middle; border: 3.5px solid black;
}

th{
  text-align: center; vertical-align: middle; border: 3.5px solid black
}
tr:nth-child(even){background-color: #f1b5f3}
tr:nth-child(odd){background-color: #76e4ff}

.tablediv{
  overflow-x: auto;
  overflow-y: hidden;
}

.responsivepic{
    width: 100%; 
    height: auto;
}

video {
  width: 100%;
  height: auto;
}


.hidden {
  padding: 15 px;
  position: absolute;
  color:#ff0000;
  left: 50%;
  height: 30px;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

a:focus {
  transform: translateY(300%);
}


.subtitle{
  text-align: justify;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
textarea{
  max-height: 150px; min-height: 60px; width: 90%; max-width: 550px; min-width: 250px;
}

.autosize{
  width: 100%;
  height: auto;
}

.widelabel {
  width:90%;
  display: inline-block;
}
